* {
    font-family: sans-serif;
}

:root {
    --primary: rgb(19, 62, 126);
    --secondary: rgb(176,201,84);
    --link-hover: rgb(75, 213, 223);
    --button-hover: rgb(210, 243, 93);
  }

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: right;
    border-bottom: 5px solid var(--secondary);
    z-index: 2;
}

#title {
    color: var(--primary)
}

#logo {
    height: 90px;
    width: 90px;
    position: absolute;
    left: 0;
}

#home_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.idp_questions {
    margin: 10px;
    height: 100%;
    flex-direction: column;
}

.idp_questions input {
    width: 70%;
    height: 30%;
    font-size: 12px;
}

.idp_questions a, a:link {
    color: white;
}

.idp_questions a:visited {
    color:  var(secondary);
}

.idp_questions a:hover, a:active {
    color: var(--link-hover);
}

#idp_questions_0, #idp_questions_1 {
    width: 50%;
}

#idp_questions_2, #idp_questions_3, #idp_questions_4 {
    flex-direction: row;
}

.container {
    width: 50%;
    margin: 0.5vw;
    flex-direction: column;
}

.button {
    width: 150px;
    height: 50px;
    background-color: var(--secondary);
    margin: 40px;
    padding: 15px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.button:hover {
    background-color: var(--button-hover);
    box-shadow: 0 0 15px var(--link-hover);
}

body {
    position: relative;
    height: 100%;
    min-height: 85vh;
    padding-bottom: 15vh;
    margin: 0;
    color: white;
    background-color: var(--primary);
}

#snackbar{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 16vw;
    margin-left: -8vw;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 20vh;
    height: 5vh;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {top: 15vh; opacity: 0;}
    to {top: 20vh; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 15vh; opacity: 0;}
    to {top: 20vh; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 20vh; opacity: 1;}
    to {top: 15vh; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 20vh; opacity: 1;}
    to {top: 15vh; opacity: 0;}
  }

.material-icons {
    padding-right: 1vw;
}

footer {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 15vh;
    width: 100%;
    flex-direction: row;
    background-color: white;
}

